*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  background-color: #f2fbe0;
}

#root {
  height: 100%;
}

.wrapper {
  grid-column: span 12;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  align-items: center;
}

.sub-title {
  grid-column: span 12;
  padding: 2rem;
  text-align: center;
  background-color: #989e80;
}

@media screen and (min-width: 30rem) {
  .sub-title {
    padding: 4rem;
  }
}
