.cards {
  padding: 2rem 2rem 5rem 2rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  grid-column: span 12;
}

.card {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.card.lifespan {
  background-color: #acc18a;
}

.card.diet {
  background-color: #c3e0a1;
}

.card.habitats {
  background-color: #cfefac;
}

.card__title {
  font-size: 1rem;
  margin-top: 1rem;
}

.card__pic {
  width: max(90%, 60px);
  max-height: 500px;
}

.card__text {
  padding: 0rem 1rem;
}

.card a {
  background-color: rgb(20, 183, 20);
  border-radius: 5px;
  padding: 0.5rem;
  color: aliceblue;
  text-decoration: none;
  margin-bottom: 1rem;
}

.card a:hover {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 30rem) {
  .card {
    grid-column: span 4;
  }

  .card__title {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 60rem) {
  .cards {
    padding: 3rem 2rem 2rem 2rem;
  }

  .card {
    height: fit-content;
  }
}
