.feedback {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;
  width: 100%;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.feedback__button {
  background-color: rgb(81, 254, 81);
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

@media screen and (min-width: 30rem) {
  .feedback {
    max-width: 25rem;
  }
}
